/*
COLOR PALETTE

BLACK: #000000

WHITE: #FFFFFF
LIGHT: #FDF7F4

ORANGE: #FFD18C
DARK ORANGE: #FFA724
*/


html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/* TYPOGRAPHY */

li {
    font-weight: 400;
}

li:first-child {
    font-weight: 700;
}

li:hover, li:active {
    text-decoration-line: underline;
}

button {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    text-align: left;
}

li, p {
    font-size: 25px;
}


/* PALETTE */

main {
    background-color: #FDF7F4;
}

.mid-bg, .account-info:hover {
    background-color: #FFD18C;
}

.dark-border {
    border: 5px solid #FFA724;
}

button, .account-info{
    background-color: #FFFFFF;
}

button:hover, .account-info:active {
    background-color: #FFA724;
}


/* LAYOUT */

.logo {
    margin: 39px;
    max-width: 373px;
}

.container {
    max-width: 730px;
    margin: 0 auto;
}

nav {
    padding: 18px 0;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

main {
    padding-top: 33px;
    padding-bottom: 90px;
}

.quick-btns {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 42px;
}

button {
    padding: 20px;
    border-radius: 50px;
    width: 275px;
}

h2 {
    margin-bottom: 25px;
}

.accounts {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.account-info {
    display: flex;
    justify-content: space-between;
    padding: 44px;
    border-radius: 15px;
}

p {
    margin: 0;
}


/* Accessibility */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; 
    -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important; 
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;            
}