:root {
    --color-white: #fff;
    --color-light: #FDF7F4;
    --color-mid: #FFD18C;
    --color-dark: #FFA724;
    --color-black: #000;
}

html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 25px;
}



/* MISC/UTILITY CLASSES *******************************/

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; 
    -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important; 
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;            
}

.dark-border {
    border: 5px solid var(--color-dark);
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

a:hover,
button:hover,
.account:hover {
    cursor: pointer;
}

a:focus-visible,
button:focus-visible,
.account:focus-visible {
    outline: 3px solid var(--color-dark);
    outline-offset: 3px;
}



/* HEADER **************************************/

.logo {
    margin: 39px;
    max-width: 373px;
}

nav {
    padding: 18px 0;
    background-color: var(--color-mid);
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

li:first-child a {
    font-weight: 700;
}

.menu a {
    font-weight: 400;
    text-decoration-line: none;
    color: var(--color-black);
    border-radius: 5px;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
    text-decoration-line: underline;
}



/* MAIN AREA *********************************/

main {
    padding-top: 33px;
    padding-bottom: 90px;
    background-color: var(--color-light);
}

/* button section */

.quick-btns {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 42px;
}

button {
    padding: 20px;
    border-radius: 50px;
    width: 275px;
    font-size: 30px;
    font-weight: 700;
    background-color: var(--color-white);
}

button:hover, button:focus-visible {
    background-color: var(--color-dark);
}

button:active {
    border-color: var(--color-light);
}

/* Accounts and Spendings Columns */

.accts-and-spend {
    display: flex;
    gap: 40px;
}

.info-column {
    width: 530px;
}

.bar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-radius: 15px;
}

/* accounts section */

h2 {
    margin-bottom: 25px;
    font-size: 40px;
}

.info-rows {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.account {
    padding: 44px;
    background-color: var(--color-white);
}

.account:hover, .account:focus {
    background-color: var(--color-mid);
}

.account:active {
    background-color: var(--color-dark);
}

p {
    margin: 0;
}

.spending {
    background-color: var(--color-mid);
    font-size: 20px;
    padding: 16px 20px;
    margin-bottom: 8px;
}